<%= render 'shared/second_header' %>
<%= render 'shared/error_messages', model: @user %>
<div class="session-top">
  <div class="session-main registration-main">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="field">
        <label>お名前</label>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"registration-form" %>
      </div>

      <div class="field">
        <label>メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"registration-form" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <label>パスワード</label>
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"半角英数6文字以上", class:"registration-form" %>
      </div>

      <div class="field">
        <label>確認用パスワード</label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"registration-form" %>
      </div>

      <div class="field">
        <label>変更前のパスワード</label>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"registration-form" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する", class:"log-in-btn" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/second_footer' %>