<%= render 'shared/second_header' %>

<div class="session-top">
  <div class="session-main registration-main">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <label>お名前</label>
      <%= f.text_field :name, placeholder: "例:hoge" %>
    </div>

    <div class="field">
      <label>メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例:hoge@hoge.com" %>
    </div>

    <div class="field">
      <label>パスワード</label>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上の半角英数字" %>
    </div>

    <div class="field">
      <label>確認用パスワード</label>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "会員登録", class:"log-in-btn" %>
    </div>
  <% end %>
  </div>
</div>
<footer class="session-footer">
  <h2 class="footer-title">Tasting Note</h2>
</footer>
