<%= render "shared/header" %>
<div class="wines-all-main">
  <div class="wines-container">
    <h1 class="wines-all-title">FAVORITES</h1>
    <div class="wines-all-items">
      <% @favorites.each do |favorite| %>
      <div class="wines-item-image">
        <%= link_to wine_path(favorite.wine.id), class:"wine-link" do %>
          <div class="wine-content">
            <%= image_tag favorite.wine.image.variant(resize: "500x500"), class:"wine-item-image" %>
            <h2 class="wine-item-name"><%= favorite.wine.name %></h2>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= link_to "BACK TO HOME →", "/", class:"wines-all-button" %>
  </div>
</div>
<%= render "shared/footer" %>