<footer class="footer-contents">
  <div class="footer-lists">
    <nav class="articles">
      <h2>テイスティングについて</h2>
      <p><%= link_to "記事一覧", articles_path, class:"contents-link" %></p>
      <p><%= link_to "投稿一覧", wines_path, class:"contents-link" %></p>
    </nav>
    <nav class="footer-country">
      <div class="country-half">
        <h2>生産国</h2>
        <p><%= link_to "フランス", article_path(id: 11), class:"contents-link" %></p>
        <p><%= link_to "イタリア", article_path(id: 12), class:"contents-link" %></p>
        <p><%= link_to "スペイン", article_path(id: 13), class:"contents-link" %></p>
        <p><%= link_to "アメリカ", article_path(id: 14), class:"contents-link" %></p>
        <p><%= link_to "チリ", article_path(id: 15), class:"contents-link" %></p>
      </div>
      <div class="country-end">
        <p><%= link_to "オーストラリア", article_path(id: 16), class:"contents-link" %></p>
        <p><%= link_to "ニュージーランド", article_path(id: 17), class:"contents-link" %></p>
        <p><%= link_to "日本", article_path(id: 18), class:"contents-link" %></p>
        <p><%= link_to "南アフリカ", article_path(id: 19), class:"contents-link" %></p>
        <p><%= link_to "アルゼンチン", article_path(id: 20), class:"contents-link" %></p>
      </div>
    </nav>
    <nav class="footer-grape">
      <nav class="footer-red">
        <h2>品種</h2>
        <h3>白ぶどう</h3>
        <p><%= link_to "シャルドネ", article_path(id: 31), class:"contents-link" %></p>
        <p><%= link_to "ソーヴィニヨン・ブラン", article_path(id: 32), class:"contents-link" %></p>
        <p><%= link_to "リースリング", article_path(id: 33), class:"contents-link" %></p>
        <p><%= link_to "ヴィオニエ", article_path(id: 34), class:"contents-link" %></p>
        <p><%= link_to "甲州", article_path(id: 35), class:"contents-link" %></p>
        <p><%= link_to "ゲヴェルツトラミネール", article_path(id: 36), class:"contents-link" %></p>
        <p><%= link_to "ピノ・グリ", article_path(id: 37), class:"contents-link" %></p>
      </nav>
      <nav class="footer-white">
        <h3>黒ぶどう</h3>
        <p>カベルネ・ソーヴィニヨン</p>
        <p>メルロー</p>
        <p>ピノノワール</p>
        <p>シラー</p>
        <p>マルベック</p>
        <p>サンジョベーゼ</p>
        <p>テンプラニーリョ</p>
      </nav>
    </nav>
  </div>
  <div class="footer-main">
    <h1 class="footer-title">Tasting Note</h1>
    <%= link_to image_tag("top.logo.jpg", class:"footer-logo"), "/" %>
  </div>
</footer>