<footer class="footer-contents">
  <div class="footer-lists">
    <nav class="articles">
      <h2>テイスティングについて</h2>
      <p><%= link_to "記事一覧", articles_path, class:"contents-link" %></p>
      <p><%= link_to "投稿一覧", wines_path, class:"contents-link" %></p>
    </nav>
    <nav class="footer-country">
      <div class="country-half">
        <h2>生産国</h2>
        <p><%= link_to "フランス", articles_category_path(number: 1), class:"contents-link" %></p>
        <p><%= link_to "イタリア", articles_category_path(number: 2), class:"contents-link" %></p>
        <p><%= link_to "スペイン", articles_category_path(number: 3), class:"contents-link" %></p>
        <p><%= link_to "アメリカ", articles_category_path(number: 4), class:"contents-link" %></p>
        <p><%= link_to "チリ", articles_category_path(number: 5), class:"contents-link" %></p>
      </div>
      <div class="country-end">
        <p><%= link_to "オーストラリア", articles_category_path(number: 6), class:"contents-link" %></p>
        <p><%= link_to "ニュージーランド", articles_category_path(number: 7), class:"contents-link" %></p>
        <p><%= link_to "日本", articles_category_path(number: 8), class:"contents-link" %></p>
        <p><%= link_to "南アフリカ", articles_category_path(number: 9), class:"contents-link" %></p>
        <p><%= link_to "アルゼンチン", articles_category_path(number: 10), class:"contents-link" %></p>
      </div>
    </nav>
    <nav class="footer-grape">
      <nav class="footer-red">
        <h2>品種</h2>
        <h3>白ぶどう</h3>
        <p><%= link_to "シャルドネ", articles_category_path(number: 11), class:"contents-link" %></p>
        <p><%= link_to "ソーヴィニヨン・ブラン", articles_category_path(number: 12), class:"contents-link" %></p>
        <p><%= link_to "リースリング", articles_category_path(number: 13), class:"contents-link" %></p>
        <p><%= link_to "ヴィオニエ", articles_category_path(number: 14), class:"contents-link" %></p>
        <p><%= link_to "甲州", articles_category_path(number: 15), class:"contents-link" %></p>
        <p><%= link_to "ゲヴェルツトラミネール", articles_category_path(number: 16), class:"contents-link" %></p>
        <p><%= link_to "ピノ・グリ", articles_category_path(number: 17), class:"contents-link" %></p>
      </nav>
      <nav class="footer-white">
        <h3>黒ぶどう</h3>
        <p><%= link_to "カベルネ・ソーヴィニヨン", articles_category_path(number: 18), class:"contents-link" %></p>
        <p><%= link_to "メルロ", articles_category_path(number: 19), class:"contents-link" %></p>
        <p><%= link_to "ピノ・ノワール", articles_category_path(number: 20), class:"contents-link" %></p>
        <p><%= link_to "シラー", articles_category_path(number: 21), class:"contents-link" %></p>
        <p><%= link_to "マルベック", articles_category_path(number: 22), class:"contents-link" %></p>
        <p><%= link_to "サンジョベーゼ", articles_category_path(number: 23), class:"contents-link" %></p>
        <p><%= link_to "テンプラニーリョ", articles_category_path(number: 24), class:"contents-link" %></p>
      </nav>
    </nav>
  </div>
  <div class="footer-main">
    <h1 class="footer-title">Tasting Note</h1>
    <%= link_to image_tag("top.logo.jpg", class:"footer-logo"), "/" %>
  </div>
</footer>