<header class="header-contents">
  <div class="header-top">
   <h1 class="header-title">Tasting Note</h1>
    <%= link_to image_tag("top.logo.jpg", class:"header-logo"), "/" %>
  </div>

  <div class="how-to-use" style="display: none;">
    <nav class="how-to-lists">
      <div class="how-to-item">
        <h1 class="how-to-heading">1.会員登録</h1>
        <p class="how-to-content">登録料は無料です。</p>
      </div>
      <div class="how-to-item">
        <h1 class="how-to-heading">2.ノート作成</h1>
        <p class="how-to-content">ワインを分析してノートに記録しよう。</p>
      </div>
      <div class="how-to-item">
        <h1 class="how-to-heading">3.ノート一覧から学ぶ</h1>
        <p class="how-to-content">他の利用者のノートを閲覧して<br>表現の幅を広げよう。</p>
      </div>
      <div class="how-to-item">
        <h1 class="how-to-heading">4.記事を読んで学ぶ</h1>
        <p class="how-to-content">記事を読んでワインをもっと知ろう。</p>
      </div>
    </nav>
  </div>

  <div class="header-menu">
    <div class="header-left-contents">
      <nav class="left-contents-menu left-contents-fade" id="header-left-category">
        <div class="how-to-animation"><p class="left-contents-item" id="how-to-trigger">
        HOW TO USE</p></div>
        <p class="left-contents-item" id="category-pull">カテゴリ</p>
        <% if user_signed_in? %>
          <%= link_to "ノート作成", new_wine_path, class: "left-contents-link left-contents-item" %>
        <% end %>
        <p class="left-contents-item">
        記事一覧</p>
        <% unless user_signed_in? %>
          <%= link_to "会員登録", new_user_registration_path, class: "left-contents-link left-contents-item" %>
          <%= link_to "ログイン", new_user_session_path, class: "left-contents-link left-contents-item" %>
        <% end %>
      </nav>
      <% if user_signed_in? %>
        <nav class="left-contents-menu" id="header-left-user" style="display: none;">
          <%= link_to "会員情報", user_path(current_user), class:"left-contents-item fade-in-first left-contents-link" %>
          <%= link_to "マイノート", wines_notes_path, class:"left-contents-item fade-in-second left-contents-link" %>
          <p class="left-contents-item fade-in-third">お気に入り</p>
          <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class:"left-contents-link left-contents-item fade-in-fourth" %>
        </nav>
      <% end %>
    </div>
    <div class="user-menu-btn" id="menu-btn">
      <% if user_signed_in? %>
        <button class="menu-btn" id="user-menu-btn">
          <span class="menu-line-top"></span>
          <span class="menu-line-middle"></span>
          <span class="menu-line-bottom"></span>
        </button>
      <% end %>
    </div>
  </div>

  <div class="category-bar-none" id="category-bar-none">
    <div class="category-bar" id="category-bar-on">
      <nav class="wine-type">
        <h1>タイプから探す</h1>
        <p><%= link_to "白ワイン", wines_color_path(color_id: 2), class:"left-contents-link" %></p>
        <p><%= link_to "赤ワイン", wines_color_path(color_id: 3), class:"left-contents-link" %></p>
        <p><%= link_to "ロゼワイン", wines_color_path(color_id: 4), class:"left-contents-link" %></p>
        <p><%= link_to "スパークリングワイン", wines_color_path(color_id: 5), class:"left-contents-link" %></p>
      </nav>
      <nav class="wine-country">
        <h1>産地から探す</h1>
        <p><%= link_to "フランス", wines_country_path(country_id: 2), class:"left-contents-link" %></p>
        <p><%= link_to "イタリア", wines_country_path(country_id: 3), class:"left-contents-link" %></p>
        <p><%= link_to "スペイン", wines_country_path(country_id: 4), class:"left-contents-link" %></p>
        <p><%= link_to "アメリカ", wines_country_path(country_id: 5), class:"left-contents-link" %></p>
        <p><%= link_to "チリ", wines_country_path(country_id: 6), class:"left-contents-link" %></p>
        <p><%= link_to "オーストラリア", wines_country_path(country_id: 7), class:"left-contents-link" %></p>
        <p><%= link_to "ニュージーランド", wines_country_path(country_id: 8), class:"left-contents-link" %></p>
        <p><%= link_to "日本", wines_country_path(country_id: 9), class:"left-contents-link" %></p>
        <p><%= link_to "南アフリカ", wines_country_path(country_id: 10), class:"left-contents-link" %></p>
        <p><%= link_to "アルゼンチン", wines_country_path(country_id: 11), class:"left-contents-link" %></p>
        <p><%= link_to "その他", wines_country_path(country_id: 12), class:"left-contents-link" %></p>
      </nav>
      <nav class="wine-grape">
        <nav>
          <h1>品種から探す</h1>
          <h2>白ぶどう</h2>
          <p><%= link_to "シャルドネ", wines_grape_path(variety_id: 9), class:"left-contents-link" %></p>
          <p><%= link_to "ソーヴィニヨン・ブラン", wines_grape_path(variety_id: 10), class:"left-contents-link" %></p>
          <p><%= link_to "リースリング", wines_grape_path(variety_id: 11), class:"left-contents-link" %></p>
          <p><%= link_to "ヴィオニエ", wines_grape_path(variety_id: 12), class:"left-contents-link" %></p>
          <p><%= link_to "甲州", wines_grape_path(variety_id: 13), class:"left-contents-link" %></p>
          <p><%= link_to "ゲヴェルツトラミネール", wines_grape_path(variety_id: 14), class:"left-contents-link" %></p>
          <p><%= link_to "ピノ・グリ", wines_grape_path(variety_id: 15), class:"left-contents-link" %></p>
        </nav>
        <nav class="white-grape">
          <h2>黒ぶどう</h2>
          <p><%= link_to "カベルネ・ソーヴィニヨン", wines_grape_path(variety_id: 2), class:"left-contents-link" %></p>
          <p><%= link_to "メルロ", wines_grape_path(variety_id: 3), class:"left-contents-link" %></p>
          <p><%= link_to "ピノ・ノワール", wines_grape_path(variety_id: 4), class:"left-contents-link" %></p>
          <p><%= link_to "シラー", wines_grape_path(variety_id: 5), class:"left-contents-link" %></p>
          <p><%= link_to "マルベック", wines_grape_path(variety_id: 6), class:"left-contents-link" %></p>
          <p><%= link_to "サンジョベーゼ", wines_grape_path(variety_id: 7), class:"left-contents-link" %></p>
          <p><%= link_to "テンプラニーリョ", wines_grape_path(variety_id: 8), class:"left-contents-link" %></p>
          <p><%= link_to "その他", wines_grape_path(variety_id: 16), class:"left-contents-link" %></p>
        </nav>
      </nav>
    </div>
  </div>
</header>