<header class="header-contents">
  <div class="header-top">
   <h1 class="header-title">Tasting Note</h1>
    <%= image_tag("top.logo.jpg", class:"header-logo") %>
  </div>
  <div class="header-menu">
    <div class="header-left-contents">
      <nav class="left-contents-menu left-contents-fade" id="header-left-category">
        <p class="left-contents-item">
        HOW TO USE</p>
        <p class="left-contents-item" id="category-pull">カテゴリ</p>
        <% if user_signed_in? %>
          <%= link_to "ノート作成", new_wine_path, class: "left-contents-link left-contents-item" %>
        <% end %>
        <p class="left-contents-item">
        記事一覧</p>
        <% unless user_signed_in? %>
          <%= link_to "会員登録", new_user_registration_path, class: "left-contents-link left-contents-item" %>
          <%= link_to "ログイン", new_user_session_path, class: "left-contents-link left-contents-item" %>
        <% end %>
      </nav>
      <nav class="left-contents-menu" id="header-left-user" style="display: none;">
        <p class="left-contents-item fade-in-first">会員情報</p>
        <p class="left-contents-item fade-in-second">マイノート</p>
        <p class="left-contents-item fade-in-third">お気に入り</p>
        <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class:"left-contents-link left-contents-item fade-in-fourth" %>
      </nav>
    </div>
    <div class="user-menu-btn" id="menu-btn">
      <% if user_signed_in? %>
        <button class="menu-btn" id="user-menu-btn">
          <span class="menu-line-top"></span>
          <span class="menu-line-middle"></span>
          <span class="menu-line-bottom"></span>
        </button>
      <% end %>
    </div>
  </div>

  <div class="category-bar-none" id="category-bar-none">
    <div class="category-bar" id="category-bar-on">
      <nav class="wine-type">
        <h1>タイプから探す</h1>
        <p class="category-item">赤ワイン</p>
        <p>白ワイン</p>
        <p>ロゼワイン</p>
        <p>スパークリングワイン</p>
        <p>ライトボディ</p>
        <p>ミディアムボディ</p>
        <p>フルボディ</p>
      </nav>
      <nav class="wine-country">
        <h1>産地から探す</h1>
        <p>フランス</p>
        <p>イタリア</p>
        <p>スペイン</p>
        <p>アメリカ</p>
        <p>チリ</p>
        <p>オーストラリア</p>
        <p>ニュージーランド</p>
        <p>日本</p>
        <p>南アフリカ</p>
        <p>アルゼンチン</p>
        <p>その他</p>
      </nav>
      <nav class="wine-grape">
        <nav>
          <h1>品種から探す</h1>
          <h2>黒ぶどう</h2>
          <p>カベルネ・ソーヴィニヨン</p>
          <p>メルロー</p>
          <p>ピノノワール</p>
          <p>シラー</p>
          <p>マルベック</p>
          <p>サンジョベーゼ</p>
          <p>テンプラニーリョ</p>
          <p>その他</p>
        </nav>
        <nav class="white-grape">
          <h2>白ぶどう</h2>
          <p>シャルドネ</p>
          <p>ソーヴィニヨン・ブラン</p>
          <p>リースリング</p>
          <p>ビオニエ</p>
          <p>甲州</p>
          <p>ゲヴェルツトラミネール</p>
          <p>ピノグリ</p>
          <p>その他</p>
        </nav>
      </nav>
    </div>
  </div>
</header>