  <%= render 'shared/second_header' %>
<div class="session-top">

    <div class="session-main">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <label>メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <label>パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class:"log-in-btn" %>
        </div>
      <% end %>
    </div>
</div>
<footer class="session-footer">
  <h2 class="footer-title">Tasting Note</h2>
</footer>
