  <%= render "shared/header" %>
  <div class="tasting-concept">
    <div class="concept-image" id="concept-off">
      <h1 class="concept-text">Tasting<br>is really fun.</h1>
      <span class="concept-explanation">表現力を磨いて人生を豊かに。</span>
    </div>
    <div class="slide-image" id="concept-off">
      <h1 class="concept-text concept-text-second">外観</h1>
      <span class="concept-explanation-second">ワインはよく人にたとえられます。<br>まずは見た目の第一印象が大切。</span>
    </div>
    <div class="slide-image-second" id="concept-off">
      <h1 class="concept-text concept-text-third">香り</h1>
      <span class="concept-explanation-second">フルーツ・ハーブ・スパイス..<br>あなたはなにを感じ取りますか。</span>
    </div>
    <div class="slide-image-third"  style="display: none;" id="concept-off">
      <h1 class="concept-text concept-text-fourth">味わい</h1>
      <span class="concept-explanation-second">甘味、酸味、苦味、渋味。<br>ワインの持つ特徴的な味わいを探してみよう。</span>
    </div>
    <div class="concept-image-on"  style="display: none;" id="concept-on">
      <h1 class="concept-text-on">Concept of Tasting Note</h1>
      <p class="concept-explanation-on">
      テイスティングの本質とは単にワインを味わい、ぶどう品種を特定することではなく、
      </p>
      <p class="concept-explanation-on">
      視覚、嗅覚、味覚を中心とした五感を使用して感じたことを<span>自分の言葉で表現する</span>ことにあります。
      </p>
      <p class="concept-explanation-on">
      感覚とは人によって大きく異なるため、それを言葉にして他者に伝えるのはとても難しいことですが、人には理性や感情があるため、話す、食べる、飲む、といった行動の全てに感情が伴います。
      </p>
      <p class="concept-explanation-on">
      人はその感情や感覚を表現することに慣れていないだけであり、また、人と違った感覚を人前で話すことに少し臆病になっているのかもしれません。
      </p>
      <p class="concept-explanation-on">
      一人でワインを嗜み、素晴らしいワインとの出会いに酔いしれるのもとても素敵なことですが、テイスティング能力、表現力を豊かにするためには、人前のような多少手に汗握るくらい緊張感のある環境下で自分の言葉を表現することが重要です。
      </p>
      <p class="concept-explanation-on">
      とはいえ、突如人前で自分の感覚を表現するというのも中々できることではありません。
      </p>
      <p class="concept-explanation-on">
      まずは自分自身の感情や感覚を口に出して記録することや、他者の表現法を真似たりすることが表現力を豊かにする第一歩となります。
      </p>
      <p class="concept-explanation-on">
        その一歩を踏み出すための助けになりたいという思いで、このTasting Noteは生み出されました。
      </p>
      <p class="concept-explanation-on">
        大きな一歩を踏み出し、表現力を磨き、人生を豊かに彩りましょう。
      </p>
    </div>
    <div class="concept-room">
        <h1 class="concept-headding" id="concept-btn"><span id="view-concept">← VIEW</span><span class="close-concept" id="close-concept" style="display: none;">→ CLOSE</span><br> CONCEPT</h1>
    </div>
  </div>
  <div class="main">
    <div class="articles-space">
      <h1 class="article-title">ARTICLES</h1>
      <div class="article-items">
        <div class="article-item">
          <div  class="article-content">
            <div>
              <h3 class="article-item-time">Created at</h3>
              <h2 class="article-item-name">Title</h2>
            </div>
            <span>→</span>
          </div>
        </div>
        <div class="article-item">
          <div  class="article-content">
            <div>
              <h3 class="article-item-time">Created at</h3>
              <h2 class="article-item-name">Title</h2>
            </div>
            <span>→</span>
          </div>
        </div>
        <div class="article-item">
          <div  class="article-content">
            <div>
              <h3 class="article-item-time">Created at</h3>
              <h2 class="article-item-name">Title</h2>
            </div>
            <span>→</span>
          </div>
        </div>
      </div>
      <p class="article-button">VIEW ALL <span>→</span></p>
    </div>
    <div class="notes-space">
      <h1 class="note-title">Notes</h1>
      <ul class="notes-container">
        <% @wines.each do |wine| %>
        <div class="note-item">
          <%= link_to "wines/#{wine.id}", class:"wine-link" do %>
            <div class="note-content">
              <%= image_tag wine.image.variant(resize: "500x500"), class:"note-image" %>
              <h2 class="note-name"><%= wine.name %></h2>
            </div>
          <% end %>
        </div>
        <% end %>
      </ul>
      <%= link_to "VIEW ALL →", "/wines", class:"note-button" %>
    </div>
  </div>
  <%= render "shared/footer" %>