<%= render "shared/header" %>
<div class="wine-show-main">
  <div class="wine-show-container">
    <div class="wine-show-top">
      <div class="wine-top-image">
        <%= image_tag @wine.image.variant(resize: "500x500"), class:"wine-show-image" %>
        <% if user_signed_in? && current_user.id == @wine.user_id %>
          <div class="edit-buttons">
            <%= link_to "編集", "/", class:"edit-button" %>
            <%= link_to "削除", "/wines/#{@wine.id}", class:"destroy-button", method: :delete %>
          </div>
        <% else %>
          <div class="edit-buttons">
            <%= link_to "お気に入り", "/", class:"favorite-button" %>
          </div>
        <% end %>
      </div>
      <div class="wine-top-detail">
        <h2 class="wine-show-name"><%= @wine.name %></h2>
        <p class="wine-show-heading">Detail</p>
        <ul class="wine-show-contents">
          <li class="wine-show-content">タイプ: <span><%= @wine.color.name %></span></li>
          <li class="wine-show-content">ぶどう品種: <span><%= @wine.variety.name %></span></li>
          <li class="wine-show-content">生産国: <span><%= @wine.country.name %></span></li>
          <li class="wine-show-content">生産地域: <span><%= @wine.region %></span></li>
          <li class="wine-show-content">ヴィンテージ: <span><%= @wine.vintage.year %>年</span></li>
          <li class="wine-show-content">アルコール度数: <span><%= @wine.alcohol_volume.name %></span></li>
          <li class="wine-show-content">合うお料理: <span><%= @wine.marriage_food %></span></li>
          <li class="wine-show-content">生産者: <span><%= @wine.producer %></span></li>
        </ul>
      </div>
    </div>
    <div class="wine-show-middle">
      <div class="wine-show-look">
        <h2 class="show-look-title">外観</h2>
        <ul class="show-look-detaile">
          <li class="wine-show-content">色調: <span><%= @wine.look.color_tone.name %></span></li>
          <li class="wine-show-content">濃淡: <span><%= @wine.look.intensity.name %></span></li>
          <li class="wine-show-content">輝き: <span><%= @wine.look.brightness.name %></span></li>
          <li class="wine-show-content">粘性: <span><%= @wine.look.viscosity.name %></span></li>
          <li class="wine-show-content">フルコメント: <span><%= @wine.look.comment %></span></li>
        </ul>
      </div>
      <div class="wine-show-look-image">
        <%= image_tag @wine.look.image.variant(resize: "500x500"), class:"wine-look-image" %>
      </div>
    </div>
    <div class="wine-show-bottom">
      <div class="show-flavor-container">
        <h2 class="show-flavor-title">香り</h2>
        <ul class="show-look-detaile">
          <li class="wine-show-content">第一印象: <span><%= @wine.flavor.impression.name %></span></li>
          <li class="wine-show-content">香りの印象: <span><%= @wine.flavor.flavor_volume.name %></span></li>
          <li class="wine-show-content">第一アロマ: <span><%= @wine.flavor.first_flavor.name %></span></li>
          <li class="wine-show-content">第二アロマ: <span><%= @wine.flavor.second_flavor.name %></span></li>
          <li class="wine-show-content">第三アロマ: <span><%= @wine.flavor.third_flavor.name %></span></li>
          <li class="wine-show-content">フルコメント: <span><%= @wine.flavor.comment %></span></li>
        </ul>
      </div>
      <div class="show-taste-container">
        <h2 class="show-taste-title">味わい</h2>
        <ul class="show-look-detaile">
          <li class="wine-show-content">アタック: <span><%= @wine.taste.attack.name %></span></li>
          <li class="wine-show-content">アルコール: <span><%= @wine.taste.alcohol_level.name %></span></li>
          <li class="wine-show-content">酸味: <span><%= @wine.taste.acidity_level.name %></span></li>
          <li class="wine-show-content">タンニン分: <span><%= @wine.taste.tannic_level.name %></span></li>
          <li class="wine-show-content">余韻: <span><%= @wine.taste.after_flavor.name %></span></li>
          <li class="wine-show-content">バランス: <span><%= @wine.taste.description.name %></span></li>
          <li class="wine-show-content">フルコメント: <span><%= @wine.taste.comment %></span></li>
        </ul>
      </div>
    </div>
    <%=link_to "BACK TO NOTES →", wines_path, class:"wine-show-button" %>
  </div>  
</div>
<%= render "shared/footer" %>